body{
    background-color: #2c2c2c;
}

aside{
    float: left;
    background-color: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none;}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
}
aside a{
    text-decoration: none;
}

main{
    color: #fff;
}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 24px 24%;
    text-align: left;
}